$color-text-dark: #220417;
$color-text-grey: #9ea2a8;
$color-text-light: #cbced1;
$color-text-lighter: #ffffff;
$color-text-grey-system: #6c727a;

$bg-color-darker: #1f2329;
$bg-color-dark: #2f343d;
$bg-color-grey: #e4e7ea;
$bg-color-light: #f7f8fa;
$bg-color-white: #ffffff;

$color-dark-blue: #175cc4;
$color-blue: #1d74f5;
$color-light-blue: #4eb2f5;
$color-purple: #8460e6;
$color-red: #f5455c;
$color-dark-red: #e0364d;
$color-orange: #f59547;
$color-yellow: #ffd21f;
$color-dark-yellow: #f6c502;
$color-green: #2de0a5;
$color-dark-green: #26d198;

$overlay-bg-color: rgba(12, 13, 15, 0.2);
